
body {
    background-color: #253439;
    color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

tr td:nth-child(2){
   text-align: right;
}
tr th:nth-child(2){
   text-align: right;
}

.controlSpace {
    background-color: #f1f1f1;
    color: #111111;
}

.titleSpace {
}
.titleSpace h1 {
    color: #74dde0;
    text-align: center;
}

.functionGraph {
    stroke-width: 3px;
    stroke: green;
    fill: none;
}


.botCon {
    background-color: #74dde0;
    color: #000000;
    font-size: 2em;
}


.bottomSpace {
    background-color: #101010;
    color: #f1f1f1;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
}

#outputPanel {
    display: none;
}

#temperatureTableDescription {
    display: none;
}

#explicacion {
    text-align: justify;
    text-justify: inter-word;
}